%h1 New micropost
= form_for @micropost do |f|
  = render 'shared/error_messages', object: f.object
  %h4 Title
  %div#4545.field
    = f.text_area :title

  %h4 Content
  %div{class: ["field"]}
    = f.cktext_area :content

  = f.submit "Post", class: "btn btn-large btn-primary"